@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: #e0e0e0;
}

@layer utilities {
  .bg-dark { background-color: #0a0a0a; }
  .text-dark { color: #e0e0e0; }
  .bg-dark-surface { background-color: #1a1a1a; }
  
  .text-white { color: #e0e0e0; }
  .bg-white { background-color: #1a1a1a; }
  .border-white { border-color: #2a2a2a; }
}